#bottom {
  position: relative;
  bottom: 0;
  width: 100%;
}

#bg {
  background-color: #330ef3;
}

#blueyou {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

#estimates {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

#copyright {
  font-size: 12px;
  color: #fff;
}
